@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Archivo';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 1rem 3rem;
}

.header-start {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
h1 {
    font-size: 1rem;
}

.hero {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: #dadbf1;
    align-items: center;
    justify-content: center;
}
.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    padding: 4rem;
    gap: 2rem;
}

.service {
    display: flex;
    gap: 1rem;
    line-height: 1.5;
}

.service img {
    height: 30%;
}

.service-text p {
    font-size: 1.25rem;
}
a {
    text-decoration: none;
}
